.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 0.5rem;
    margin: auto;
    max-width: 500px;
    margin-top: 300px;
    min-width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

.cancel-modal {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #9c9c9c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-modal {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3B82F6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#message {
    background-color: rgba(0, 0, 0, 0);
    z-index: 1100;
    top: 10px;
    right: 10px;
    justify-content: flex-end;
    align-items: flex-start;
}

#message .modal-content {
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    max-width: 300px;
    background-color: #fff;
    top: 10px;
    right: 10px;
    margin: 0;
    color: white;
    font-weight: semi-bold;
    position: absolute;
}

#login {
    margin-top: 200px;
}

#message.success .modal-content {
    background-color: #7ad47a;
}

#message.error .modal-content {
    background-color: #d47a7a;
}

#asign-edit-modal .modal-content {
    margin-top: 100px;
}

input,
textarea,
select {
    width: 100%;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 15px;
    outline: none;
    box-sizing: border-box;
    transition: box-shadow 0.2s ease, border-color 0.2s ease;
    resize: vertical;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #3B82F6;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}

#task-form-element .btn {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

#submit-task {
    background-color: #3B82F6;
    color: white;
}

#submit-task:hover {
    background-color: #3677df;
}

.cancel-btn {
    background-color: #9c9c9c;
    color: white;
}

.cancel-btn:hover {
    background-color: #8c8c8c;
}


.input-field {
    width: 100%;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 20px;
    outline: none;
    box-sizing: border-box;
    transition: box-shadow 0.2s ease, border-color 0.2s ease;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
}

#login-btn {
    width: 50%;
    margin-left: 25%;
    background-color: #3B82F6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
}

#login-btn:hover {
    background-color: #3677df;
}

#CRUD-info {
    display: flex;
    gap: 2rem;
}

#task-form {
    flex-shrink: 0;
}

#content-tasks table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border: none;
    border-spacing: 0 5px;
}

#content-tasks table th {
    border-top: none;
    border-bottom: 2px solid #ccc;
    border-left: none;
    border-right: none;
    padding-bottom: 10px;
    background-color: white;
}

#content-tasks table td {
    border: 1px solid white;
    padding: 8px;
    vertical-align: top;
    height: 100%;
    background-color: white;
}

.dropzone {
    min-height: 150px;
    border: 1px solid #ddd;
    background-color: #fafafa;
}

.high {
    border-left-color: #f87171;
}

.medium {
    border-left-color: #facc15;
}

.low {
    border-left-color: #34d399;
}


.task-card {
    border: 1px solid #ddd;
    border-left: 5px solid;
    cursor: pointer;
    transition: box-shadow 0.2s;
    word-break: break-word;
    white-space: normal;
    height: auto;
}

.task-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-card .card-body {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    margin-bottom: 5px;
}

.card-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.card-text {
    font-size: 14px;
    color: #555;
}

.high {
    border-left-color: #ff6a6a;
}

.medium {
    border-left-color: #facc15;
}

.low {
    border-left-color: #34d399;
}

#content-main {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#CRUD-info {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 2rem;
    min-width: 250px;
}

#left-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-shrink: 0;
    max-width: 350px;
}

nav#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#user-info {
    display: flex;
    flex-direction: row;
}

#logout-btn {
    margin-left: 10px;
    padding: 5px;
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    background-color: #ff6a6a;
    color: white;
    border: none;
    border-radius: 5px;
}

#logout-btn:hover {
    background-color: #e05b5b;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.inactive {
    text-decoration: line-through;
}

#task-info .modal-content {
    background: white;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    margin-top: 100px;
    max-width: 600px;
    width: 90%;
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
}


#task-info.close-task-info-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
}

#task-info .comments-section {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
}


#task-info .close-task-info-btn:hover {
    color: #333;
}

#asign-edit-modal {
    z-index: 1001;
}

#report-content {
    margin-top: 100px;
    min-width: 400px;
    max-width: 1000px;
}

#content-users table {
    border-collapse: collapse;
    width: 100%;
}

#content-users table th,
#content-users table td {
    border: none;
    padding: 5px 8px;
}

#task-form {
    padding: 20px;
    max-width: 400px;
}

#task-form input,
#task-form textarea {
    padding: 3px;
}